/* RadScheduler Web20 skin */

/* common */
.RadScheduler_LAWeb20,
.RadScheduler_LAWeb20 a,
.RadScheduler_LAWeb20 input,
.RadScheduler_LAWeb20 select,
.RadScheduler_LAWeb20 textarea
{
	color: #333;
	font: normal 10pt/12px Arial;
}

.RadScheduler_LAWeb20 textarea
{
	background: #fff;
}
/* header */

/* header sprites */
.RadScheduler_LAWeb20 .rsHeader,
.RadScheduler_LAWeb20 .rsHeader ul a:hover,
.RadScheduler_LAWeb20 .rsHeader ul a:hover span,
.RadScheduler_LAWeb20 .rsHeader .rsSelected,
.RadScheduler_LAWeb20 .rsHeader .rsSelected em,
.RadScheduler_LAWeb20 .rsHeader .rsDatePickerActivator,
.RadScheduler_LAWeb20 .rsHeader .rsPrevDay,
.RadScheduler_LAWeb20 .rsHeader .rsNextDay
{
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_LAWeb20 .rsHeader
{
	border: 1px solid #243567;
}

.RadScheduler_LAWeb20 .rsHeader,
.RadScheduler_LAWeb20 .rsHeader a
{
	color: #fff;
}

.RadScheduler_LAWeb20 .rsHeader a:hover,
.RadScheduler_LAWeb20 .rsHeader em
{
	color: #000;
}

.RadScheduler_LAWeb20 .rsHeader .rsToday:hover
{
	color: #CCC;
}

/* content */

.RadScheduler_LAWeb20 .rsContent
{
	background: #fff;
}

/* <headers> */

.RadScheduler_LAWeb20 .rsHorizontalHeaderTable
{
	color: #fff;
	background: #e4e4e4;
}

.RadScheduler_LAWeb20 .rsHorizontalHeaderWrapper {
	border-color: #a4b7d0;
	background: #dce5f3;
}

.RadScheduler_LAWeb20 .rsSpacerCell,
.RadScheduler_LAWeb20 .rsAllDayHeader,
.RadScheduler_LAWeb20 .rsVerticalHeaderWrapper,
.RadScheduler_LAWeb20 .rsVerticalHeaderTable
{
	background: #dce5f3;
}

.RadScheduler_LAWeb20 .rsVerticalHeaderTable th
{
	border-color: #868686 #a2b3c7;
	color: #45709b;
}

.RadScheduler_LAWeb20 .rsHorizontalHeaderTable th
{
	border-color: #a4b7d0;
	background-color: #C3D9F1;
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_LAWeb20 .rsVerticalHeaderTable th
{
	border-color: transparent #a2b3c7;
	border-top: 0;
}

.RadScheduler_LAWeb20 .rsVerticalHeaderTable .rsAlt th
{
	border-color: #a4b7d0 #a2b3c7;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_LAWeb20 .rsAllDayRow
{
	background: #dce5f3;
}

.RadScheduler_LAWeb20 .rsSpacerCell,
.RadScheduler_LAWeb20 .rsAllDayHeader,
.RadScheduler_LAWeb20 .rsVerticalHeaderTable .rsAllDayHeader
{
	color: #45709b;
	border-color: #a4b7d0 #a2b3c7;
}

.RadScheduler_LAWeb20 .rsAllDayRow td,
.RadScheduler_LAWeb20 .rsContentTable .rsAllDayRow td
{
	border-color: #a4b7d0;
	border-style: solid;
}

.RadScheduler_LAWeb20 .rsVerticalHeaderTable .rsMainHeader th
{
	border-bottom-color: #a4b7d0;
}

.RadScheduler_LAWeb20 .rsSpacerCell,
.RadScheduler_LAWeb20 .rsContent .rsAllDayHeader
{
	border-bottom-color: #a4b7d0;
}

/* </all-day-row> */

.RadScheduler_LAWeb20 .rsContent,
.RadScheduler_LAWeb20 .rsTopWrap .rsFooter
{
	border: 1px solid #6788be;
	border-top: 0;
}

.RadScheduler_LAWeb20 .rsContentTable td
{
	border-color: #e6eef8;
	border-bottom-style: dotted;
}

.RadScheduler_LAWeb20 .rsContentTable .rsAlt td
{
	border-color: #a4b7d0 #e6eef8;
	border-bottom-style: solid;
}

.RadScheduler_LAWeb20 .rsMonthView .rsOtherMonth
{
	background-color: #F9F9F9;
}

/* <appointments> */
.RadScheduler_LAWeb20 .rsApt .rsArrowTop,
.RadScheduler_LAWeb20 .rsApt .rsArrowBottom,
.RadScheduler_LAWeb20 .rsApt .rsArrowLeft,
.RadScheduler_LAWeb20 .rsApt .rsArrowRight,
.RadScheduler_LAWeb20 .rsApt .rsAptDelete,
.RadScheduler_LAWeb20 .rsApt .rsAptResize,
.RadScheduler_LAWeb20 .rsApt .rsAptRecurrence,
.RadScheduler_LAWeb20 .rsApt .rsAptRecurrenceException
{
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_LAWeb20 .rsApt .rsAptDelete
{
	width: 22px;
}

.RadScheduler_LAWeb20 .rsAptCreate,
.RadScheduler_LAWeb20 .rsMonthView .rsAptCreate
{
	background-color: #ccdcf1;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_LAWeb20 .rsAptCreateRow2,
.RadScheduler_LAWeb20 .rsMonthView .rsAptCreateRow2
{
	background-color: #ccdcf1;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_LAWeb20 .rsSunCol,
.RadScheduler_LAWeb20 .rsSatCol
{
	background-color: #f5fcff;
}

.RadScheduler_LAWeb20 .rsAptCreateRow3,
.RadScheduler_LAWeb20 .rsMonthView .rsAptCreateRow3,
.RadScheduler_LAWeb20 .rsAptCreateRow4,
.RadScheduler_LAWeb20 .rsMonthView .rsAptCreateRow4,
.RadScheduler_LAWeb20 .rsAptCreateRow5,
.RadScheduler_LAWeb20 .rsMonthView .rsAptCreateRow5
{
	background: #ccdcf1;
}

.RadScheduler_LAWeb20 .rsAptContent,
.RadScheduler_LAWeb20 .rsAptIn,
.RadScheduler_LAWeb20 .rsAptMid,
.RadScheduler_LAWeb20 .rsAptOut
{
	background-image: url('Scheduler/rsAppointmentBg.png');
}

/* </appointments> */

/* <month view> */

.RadScheduler_LAWeb20 .rsMonthView .rsDateBox
{
	background-color: #d0dbed;
	background-image: url('Scheduler/rsSprites.png');
	border-bottom: 1px solid #81a5da;
}

.RadScheduler_LAWeb20 .rsMonthView .rsAptCreate .rsDateBox
{
	border-bottom: 1px solid #4D9E1F;
}

.RadScheduler_LAWeb20 .rsMonthView .rsAptCreate
{
	background-image: none;
}

.RadScheduler_LAWeb20 .rsMonthView .rsContentTable td
{
	border-color: #e6eef8;
	border-style: solid;
}

/* </month view> */

/* <footer> */

.RadScheduler_LAWeb20 div.rsFooter
{
	background-color: #f0fafd;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
	border-color: #a2a2a2;
}

.RadScheduler_LAWeb20 div.rsFooter .rsFullTime
{
	color: #000;
	background-position: 0 -248px;
	padding: 3px 0 4px 17px;
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_LAWeb20 div.rsFooter .rsFullTime:hover
{
	color: #333;
	background-position: 0 -271px;
}

/* </footer> */

/* <inline edit form> */

.RadScheduler_LAWeb20 .rsAptEditResizeHandle,
.RadScheduler_LAWeb20 .rsAptEditFormWrapper
{
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_LAWeb20 .rsAptEditFormOuter, /* top */
.RadScheduler_LAWeb20 .rsAptEditFormInner  /* bottom */
{
	background-image: url('Scheduler/rsInlineEditHSprite.png');
}

.RadScheduler_LAWeb20 .rsAptEditFormMiddle, /* left */
.RadScheduler_LAWeb20 .rsAptEditFormMiddle2 /* right */
{
	background-image: url('Scheduler/rsInlineEditVSprite.png');
}

.RadScheduler_LAWeb20 .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #bcd2f1;
	background: #fff;
}

.RadScheduler_LAWeb20 .rsAptEditFormWrapper .rsAptEditTextareaWrapper textarea
{
	background: #fff;
}

/* <inline edit form template and edit background> */

.RadScheduler_LAWeb20 .rsAptEditFormWrapper .rsTemplateWrapper,
.RadScheduler_LAWeb20 .rsAptEditFormWrapper .rsEditOptions 
{
	background: #e7f1ff;
}

/* </inline edit form template and edit background> */

/* </inline edit form> */

/* <advanced edit form> */

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsAdvContentWrapper
{
	background: #fff;
	border: 1px solid #6788be;
	border-top-color: #47689e;
}

/* <xref input skins> */

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsAdvInput,
.RadScheduler_LAWeb20 .rsAdvancedEdit select,
.RadScheduler_LAWeb20 .rsAdvancedEdit .textareaWrapper
{
	border-color: #6788be;
}

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsInvalid textarea
{
	background-image: url('Input/sprite.gif');
}

.RadScheduler_LAWeb20 .rsAdvancedEdit .textareaWrapper
{
	background: #fff;
}

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsInvalid
{
	border-color: #F32800;
	color: #F32800;
}
/* </xref input skins> */

.RadScheduler_LAWeb20 .rsAdvancedEdit h2,
.RadScheduler_LAWeb20 .rsAdvancedEdit h3
{
	color: #5e83a8;
}

.RadScheduler_LAWeb20 .rsAdvancedEdit h2
{
	border-bottom: 1px solid #CCC;
}

.RadScheduler_LAWeb20 .rsAdvancedEdit h2 span
{
	background: #fff;
}

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsAdvRecurrenceFreq
{
	border-right: 1px solid #fff;
}

.RadScheduler_LAWeb20 .rsAdvancedEdit ul.rsRecurrenceOptionList   /* ??? */
{
	border-right: 1px solid #CCC;
}

.RadScheduler_LAWeb20 .rsAdvancedEdit div.rsAdvPatternPanel
{
	border-left: 0;
}

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsAdvancedSubmitArea
{
	border-color: #CCC;
}

/* </advanced edit form> */

/* <date/time picker> */

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsAdvEditClose,
.RadScheduler_LAWeb20 .rsTimePick .RadInput_LAWeb20 input.riEnabled,
.RadScheduler_LAWeb20 .rsTimePick .RadInput_LAWeb20 input.riHover,
.RadScheduler_LAWeb20 .rsTimePick .RadInput_LAWeb20 input.riFocused,
.RadScheduler_LAWeb20 .rsTimePick .RadInput_LAWeb20 input.riEmpty
{
	background-image: url('Scheduler/rsSprites.png');
}

/* </date/time picker> */

/* <modal dialogs> */

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsAdvTitle,
.RadScheduler_LAWeb20 .rsModalWrapper .rsModalOuter
{
	border-color: #416094;
	background-image: url('Scheduler/rsModalOuterBg.png');
}

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsAdvInnerTitle,
.RadScheduler_LAWeb20 .rsModalWrapper .rsModalOuterTitle
{
	background-image: url('Scheduler/rsModalOuterTitleBg.png');
}

.RadScheduler_LAWeb20 .rsAdvancedEdit .rsAdvInnerTitle
{
	color: #FFF;
}

.RadScheduler_LAWeb20 div.rsModalWrapper .rsModalWindowClose
{
	background-image: url('Scheduler/rsSprites.png');
	height:19px;
	margin-top:-24px;
	width:31px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
}

.RadScheduler_LAWeb20 .rsModalWrapper .rsModalWindowClose:hover
{
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}


.RadScheduler_LAWeb20 .rsModalWrapper .rsModalTitle
{
	color: #fff;
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_LAWeb20 .rsModalWrapper .rsModalInner
{
	border-color: #6788be;
	background: #fff;
}

.RadScheduler_LAWeb20 .rsModalWrapper .rsModalIcon
{
	background-image: url('Scheduler/rsSprites.png');
}

/* Inline Edit buttons + ModalDialog buttons */
.RadScheduler_LAWeb20 .rsModalWrapper .rsModalButtons a,
.RadScheduler_LAWeb20 .rsAdvancedEdit div.rsAdvancedSubmitArea a,
.RadScheduler_LAWeb20 .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	color: #FFF;
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_LAWeb20 .rsModalWrapper .rsModalButtons a:hover,
.RadScheduler_LAWeb20 .rsAdvancedEdit div.rsAdvancedSubmitArea a:hover,
.RadScheduler_LAWeb20 .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a:hover
{
	color: #0f3789;
}

/* </modal dialogs> */